
/* global.css */
@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --yeds-color-base-white: #ffffff;
  --yeds-color-base-black: #161616;
  --yeds-color-primary-25: #f6fefc;
  --yeds-color-primary-50: #effefa;
  --yeds-color-primary-100: #c7ffef;
  --yeds-color-primary-200: #90ffe0;
  --yeds-color-primary-300: #51f7cf;
  --yeds-color-primary-400: #1de4bb;
  --yeds-color-primary-500: #04c8a2;
  --yeds-color-primary-600: #00987e;
  --yeds-color-primary-700: #05806c;
  --yeds-color-primary-800: #0a6558;
  --yeds-color-primary-900: #0d5449;
  --yeds-color-primary-950: #00332e;
  --yeds-color-accent-25: #fffef7;
  --yeds-color-accent-50: #fffef2;
  --yeds-color-accent-100: #fffce6;
  --yeds-color-accent-200: #fcf3bd;
  --yeds-color-accent-300: #fae996;
  --yeds-color-accent-400: #f7d54d;
  --yeds-color-accent-500: #f5bd02;
  --yeds-color-accent-600: #dba102;
  --yeds-color-accent-700: #b87b02;
  --yeds-color-accent-800: #945c01;
  --yeds-color-accent-900: #6e3c00;
  --yeds-color-accent-950: #472400;
  --yeds-color-red-25: #fffbfa;
  --yeds-color-red-50: #fef3f2;
  --yeds-color-red-100: #fee4e2;
  --yeds-color-red-200: #fecdca;
  --yeds-color-red-300: #fda29b;
  --yeds-color-red-400: #f97066;
  --yeds-color-red-500: #f04438;
  --yeds-color-red-600: #d92d20;
  --yeds-color-red-700: #b42318;
  --yeds-color-red-800: #912018;
  --yeds-color-red-900: #7a271a;
  --yeds-color-red-950: #55160c;
  --yeds-color-yellow-25: #fffcf5;
  --yeds-color-yellow-50: #fffaeb;
  --yeds-color-yellow-100: #fef0c7;
  --yeds-color-yellow-200: #fedf89;
  --yeds-color-yellow-300: #fec84b;
  --yeds-color-yellow-400: #fdb022;
  --yeds-color-yellow-500: #f79009;
  --yeds-color-yellow-600: #dc6803;
  --yeds-color-yellow-700: #b54708;
  --yeds-color-yellow-800: #93370d;
  --yeds-color-yellow-900: #7a2e0e;
  --yeds-color-yellow-950: #4e1d09;
  --yeds-color-blue-25: #f5faff;
  --yeds-color-blue-50: #eff8ff;
  --yeds-color-blue-100: #d1e9ff;
  --yeds-color-blue-200: #b2ddff;
  --yeds-color-blue-300: #84caff;
  --yeds-color-blue-400: #53b1fd;
  --yeds-color-blue-500: #2e90fa;
  --yeds-color-blue-600: #1570ef;
  --yeds-color-blue-700: #175cd3;
  --yeds-color-blue-800: #1849a9;
  --yeds-color-blue-900: #194185;
  --yeds-color-blue-950: #102a56;
  --yeds-color-green-25: #f6fef9;
  --yeds-color-green-50: #ecfdf3;
  --yeds-color-green-100: #dcfae6;
  --yeds-color-green-200: #abefc6;
  --yeds-color-green-300: #75e0a7;
  --yeds-color-green-400: #47cd89;
  --yeds-color-green-500: #17b26a;
  --yeds-color-green-600: #079455;
  --yeds-color-green-700: #067647;
  --yeds-color-green-800: #085d3a;
  --yeds-color-green-900: #074d31;
  --yeds-color-green-950: #053321;
  --yeds-color-alpha-white-0: rgba(255, 255, 255, 0);
  --yeds-color-alpha-white-10: rgba(255, 255, 255, 0.1);
  --yeds-color-alpha-white-20: rgba(255, 255, 255, 0.2);
  --yeds-color-alpha-white-30: rgba(255, 255, 255, 0.3);
  --yeds-color-alpha-white-40: rgba(255, 255, 255, 0.4);
  --yeds-color-alpha-white-50: rgba(255, 255, 255, 0.5);
  --yeds-color-alpha-white-60: rgba(255, 255, 255, 0.6);
  --yeds-color-alpha-white-70: rgba(255, 255, 255, 0.7);
  --yeds-color-alpha-white-80: rgba(255, 255, 255, 0.8);
  --yeds-color-alpha-white-90: rgba(255, 255, 255, 0.9);
  --yeds-color-alpha-white-100: #ffffff;
  --yeds-color-alpha-black-0: rgba(22, 22, 22, 0);
  --yeds-color-alpha-black-10: rgba(22, 22, 22, 0.1);
  --yeds-color-alpha-black-20: rgba(22, 22, 22, 0.2);
  --yeds-color-alpha-black-30: rgba(22, 22, 22, 0.3);
  --yeds-color-alpha-black-40: rgba(22, 22, 22, 0.4);
  --yeds-color-alpha-black-50: rgba(22, 22, 22, 0.5);
  --yeds-color-alpha-black-60: rgba(22, 22, 22, 0.6);
  --yeds-color-alpha-black-70: rgba(22, 22, 22, 0.7);
  --yeds-color-alpha-black-80: rgba(22, 22, 22, 0.8);
  --yeds-color-alpha-black-90: rgba(22, 22, 22, 0.9);
  --yeds-color-alpha-black-100: #161616;
  --yeds-color-alpha-primary-10: rgba(0, 152, 126, 0.1);
  --yeds-color-alpha-primary-20: rgba(0, 152, 126, 0.2);
  --yeds-color-alpha-primary-30: rgba(0, 152, 126, 0.3);
  --yeds-color-alpha-primary-40: rgba(0, 152, 126, 0.4);
  --yeds-color-alpha-primary-50: rgba(0, 152, 126, 0.5);
  --yeds-color-alpha-primary-60: rgba(0, 152, 126, 0.6);
  --yeds-color-alpha-primary-70: rgba(0, 152, 126, 0.7);
  --yeds-color-alpha-primary-80: rgba(0, 152, 126, 0.8);
  --yeds-color-alpha-primary-90: rgba(0, 152, 126, 0.9);
  --yeds-color-alpha-primary-100: #00987e;
  --yeds-color-alpha-red-10: rgba(217, 45, 32, 0.1);
  --yeds-color-alpha-red-20: rgba(217, 45, 32, 0.2);
  --yeds-color-alpha-yellow-10: rgba(220, 104, 3, 0.1);
  --yeds-color-alpha-yellow-20: rgba(220, 104, 3, 0.2);
  --yeds-color-alpha-blue-10: rgba(21, 112, 239, 0.1);
  --yeds-color-alpha-blue-20: rgba(21, 112, 239, 0.2);
  --yeds-color-alpha-green-10: rgba(7, 148, 85, 0.1);
  --yeds-color-alpha-green-20: rgba(7, 148, 85, 0.2);
  --yeds-color-neutral-25: #fcfcfd;
  --yeds-color-neutral-50: #f9fafb;
  --yeds-color-neutral-100: #f3f4f6;
  --yeds-color-neutral-200: #e5e7eb;
  --yeds-color-neutral-300: #d2d6db;
  --yeds-color-neutral-400: #6c737f;
  --yeds-color-neutral-500: #6c737f;
  --yeds-color-neutral-600: #4d5761;
  --yeds-color-neutral-700: #384250;
  --yeds-color-neutral-800: #1f2a37;
  --yeds-color-neutral-900: #111927;
  --yeds-color-neutral-950: #0d121c;
  --yeds-typography-font-family: 'Effra', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --yeds-typography-weight-bold: 700;
  --yeds-typography-weight-semibold: 600;
  --yeds-typography-weight-medium: 500;
  --yeds-typography-weight-regular: 400;
  --yeds-typography-sizes-1: 4.5rem;
  --yeds-typography-sizes-2: 3.75rem;
  --yeds-typography-sizes-3: 3rem;
  --yeds-typography-sizes-4: 2.25rem;
  --yeds-typography-sizes-5: 1.875rem;
  --yeds-typography-sizes-6: 1.5rem;
  --yeds-typography-sizes-xl: 1.25rem;
  --yeds-typography-sizes-lg: 1.125rem;
  --yeds-typography-sizes-md: 1rem;
  --yeds-typography-sizes-sm: 0.875rem;
  --yeds-typography-sizes-xs: 0.75rem;
  --yeds-typography-line-height-1: 5.625rem;
  --yeds-typography-line-height-2: 4.5rem;
  --yeds-typography-line-height-3: 3.75rem;
  --yeds-typography-line-height-4: 2.75rem;
  --yeds-typography-line-height-5: 2.375rem;
  --yeds-typography-line-height-6: 2rem;
  --yeds-typography-line-height-xl: 1.875rem;
  --yeds-typography-line-height-lg: 1.75rem;
  --yeds-typography-line-height-md: 1.5rem;
  --yeds-typography-line-height-sm: 1.25rem;
  --yeds-typography-line-height-xs: 1rem;
  --yeds-typography-letter-spacing-letter-spacing: 0;
  --yeds-spacing-0: 0;
  --yeds-spacing-1: 0.25rem;
  --yeds-spacing-2: 0.5rem;
  --yeds-spacing-3: 0.75rem;
  --yeds-spacing-4: 1rem;
  --yeds-spacing-5: 1.25rem;
  --yeds-spacing-6: 1.5rem;
  --yeds-spacing-8: 2rem;
  --yeds-spacing-10: 2.5rem;
  --yeds-spacing-12: 3rem;
  --yeds-spacing-16: 4rem;
  --yeds-spacing-20: 5rem;
  --yeds-spacing-24: 6rem;
  --yeds-spacing-32: 8rem;
  --yeds-spacing-0-5: 0.125rem;
  --yeds-spacing-1-5: 0.375rem;
  --yeds-effects-border-radius-none: 0px;
  --yeds-effects-border-radius-2xs: 2px;
  --yeds-effects-border-radius-xs: 4px;
  --yeds-effects-border-radius-sm: 6px;
  --yeds-effects-border-radius-md: 8px;
  --yeds-effects-border-radius-lg: 12px;
  --yeds-effects-border-radius-xl: 16px;
  --yeds-effects-border-radius-2xl: 24px;
  --yeds-effects-border-radius-full: 9999px;
  --yeds-effects-border-width-none: 0px;
  --yeds-effects-border-width-2xs: 0.5px;
  --yeds-effects-border-width-xs: 1px;
  --yeds-effects-border-width-sm: 1.5px;
  --yeds-effects-border-width-md: 2px;
  --yeds-effects-border-width-lg: 2.5px;
  --yeds-shadows-xs: 0px 2px 4px 0px #1018281a;
  --yeds-shadows-sm: 0px 4px 8px 0px #1018281a;
  --yeds-shadows-md: 0px 6px 12px 0px #10182814;
  --yeds-shadows-lg: 0px 16px 32px 0px #1018281a;
  --yeds-shadows-xl: 0px 36px 72px 0px #1018281f;
  --yeds-shadows-2xl: 0px 56px 84px 0px #1018281a;
}
:root {
  --yeds-size-stack-gap-lg: var(--yeds-spacing-3);
  --yeds-size-stack-gap-xl: var(--yeds-spacing-4);
  --yeds-size-stack-gap-md: var(--yeds-spacing-1-5);
  --yeds-size-stack-gap-sm: var(--yeds-spacing-1);
  --yeds-size-stack-gap-xs: var(--yeds-spacing-0-5);
  --yeds-size-box-xl: var(--yeds-spacing-20);
  --yeds-size-box-lg: var(--yeds-spacing-16);
  --yeds-size-box-md: var(--yeds-spacing-12);
  --yeds-size-box-sm: var(--yeds-spacing-8);
  --yeds-size-box-xs: var(--yeds-spacing-6);
}
[data-theme="light"] {
  --yeds-color-background-neutral-200: var(--yeds-color-neutral-200);
  --yeds-color-background-ye-primary-25: var(--yeds-color-primary-25);
  --yeds-color-background-nav-header: var(--yeds-color-primary-800);
  --yeds-color-background-ye-primary-800: var(--yeds-color-primary-900);
  --yeds-color-background-error-25: var(--yeds-color-red-25);
  --yeds-color-background-notification-white: var(--yeds-color-base-white);
  --yeds-color-background-error-50: var(--yeds-color-red-50);
  --yeds-color-background-error: var(--yeds-color-red-600);
  --yeds-color-background-card: var(--yeds-color-base-white);
  --yeds-color-background-warning-50: var(--yeds-color-yellow-50);
  --yeds-color-background-neutral-300: var(--yeds-color-neutral-300);
  --yeds-color-background-neutral-100: var(--yeds-color-neutral-100);
  --yeds-color-background-warning-25: var(--yeds-color-yellow-25);
  --yeds-color-background-neutral-25: var(--yeds-color-neutral-25);
  --yeds-color-background-info-25: var(--yeds-color-blue-25);
  --yeds-color-background-info-50: var(--yeds-color-blue-50);
  --yeds-color-background-success-50: var(--yeds-color-green-50);
  --yeds-color-background-ye-primary-50: var(--yeds-color-primary-50);
  --yeds-color-background-accent-25: var(--yeds-color-accent-25);
  --yeds-color-background-neutral-400: var(--yeds-color-neutral-400);
  --yeds-color-background-accent-50: var(--yeds-color-accent-50);
  --yeds-color-background-menu: var(--yeds-color-base-white);
  --yeds-color-background-info: var(--yeds-color-blue-600);
  --yeds-color-background-black: var(--yeds-color-base-black);
  --yeds-color-background-primary-200: var(--yeds-color-primary-200);
  --yeds-color-background-primary-600: var(--yeds-color-primary-600);
  --yeds-color-background-background-disabled: var(--yeds-color-neutral-200);
  --yeds-color-background-body: var(--yeds-color-neutral-50);
  --yeds-color-background-neutral-800: var(--yeds-color-neutral-800);
  --yeds-color-background-warning: var(--yeds-color-yellow-600);
  --yeds-color-background-primary-50: var(--yeds-color-primary-50);
  --yeds-color-background-success: var(--yeds-color-green-600);
  --yeds-color-background-primary-25: var(--yeds-color-primary-25);
  --yeds-color-background-primary-400: var(--yeds-color-primary-400);
  --yeds-color-background-success-25: var(--yeds-color-green-25);
  --yeds-color-background-white: var(--yeds-color-base-white);
  --yeds-color-background-neutral-50: var(--yeds-color-neutral-50);
  --yeds-color-background-oncolor: var(--yeds-color-base-white);
  --yeds-color-background-accent: var(--yeds-color-accent-600);
  --yeds-color-text-warning: var(--yeds-color-yellow-700);
  --yeds-color-text-success: var(--yeds-color-green-700);
  --yeds-color-text-secondary-paragraph: var(--yeds-color-neutral-500);
  --yeds-color-text-tertiary: var(--yeds-color-alpha-black-70);
  --yeds-color-text-info: var(--yeds-color-blue-700);
  --yeds-color-text-default-disabled: var(--yeds-color-neutral-400);
  --yeds-color-text-primary-paragraph: var(--yeds-color-neutral-700);
  --yeds-color-text-secondary: var(--yeds-color-alpha-black-80);
  --yeds-color-text-default: var(--yeds-color-base-black);
  --yeds-color-text-oncolor: var(--yeds-color-base-white);
  --yeds-color-text-display: var(--yeds-color-neutral-800);
  --yeds-color-text-error: var(--yeds-color-red-700);
  --yeds-color-text-primary: var(--yeds-color-primary-600);
  --yeds-color-border-background-neutral: var(--yeds-color-neutral-300);
  --yeds-color-border-neutral-tertiary: var(--yeds-color-neutral-100);
  --yeds-color-border-neutral-secondary: var(--yeds-color-neutral-200);
  --yeds-color-border-black: var(--yeds-color-base-black);
  --yeds-color-border-primary: var(--yeds-color-primary-600);
  --yeds-color-border-error-light: var(--yeds-color-red-200);
  --yeds-color-border-neutral-primary: var(--yeds-color-neutral-300);
  --yeds-color-border-error: var(--yeds-color-red-700);
  --yeds-color-border-warning-light: var(--yeds-color-yellow-200);
  --yeds-color-border-warning: var(--yeds-color-yellow-700);
  --yeds-color-border-background-white: var(--yeds-color-neutral-100);
  --yeds-color-border-info: var(--yeds-color-blue-700);
  --yeds-color-border-success-light: var(--yeds-color-green-200);
  --yeds-color-border-primary-light: var(--yeds-color-primary-200);
  --yeds-color-border-info-light: var(--yeds-color-blue-200);
  --yeds-color-border-success: var(--yeds-color-green-700);
  --yeds-color-border-oncolor-transparent-30: var(--yeds-color-alpha-white-30);
  --yeds-color-border-transparent-10: var(--yeds-color-alpha-white-10);
  --yeds-color-border-disabled: var(--yeds-color-neutral-400);
  --yeds-color-border-white-40: var(--yeds-color-alpha-white-40);
  --yeds-color-border-white: var(--yeds-color-base-white);
  --yeds-color-icon-oncolor: var(--yeds-color-base-white);
  --yeds-color-icon-default: var(--yeds-color-base-black);
  --yeds-color-icon-default-500: var(--yeds-color-neutral-500);
  --yeds-color-icon-default-400: var(--yeds-color-neutral-400);
  --yeds-color-icon-primary: var(--yeds-color-primary-600);
  --yeds-color-icon-primary-light: var(--yeds-color-primary-50);
  --yeds-color-icon-primary-400: var(--yeds-color-primary-400);
  --yeds-color-icon-neutral: var(--yeds-color-neutral-700);
  --yeds-color-icon-neutral-light: var(--yeds-color-neutral-50);
  --yeds-color-icon-success: var(--yeds-color-green-700);
  --yeds-color-icon-success-light: var(--yeds-color-green-50);
  --yeds-color-icon-info: var(--yeds-color-blue-700);
  --yeds-color-icon-info-light: var(--yeds-color-blue-50);
  --yeds-color-icon-warning: var(--yeds-color-yellow-700);
  --yeds-color-icon-warning-light: var(--yeds-color-yellow-50);
  --yeds-color-icon-error: var(--yeds-color-red-700);
  --yeds-color-icon-error-light: var(--yeds-color-red-50);
  --yeds-color-icon-default-disabled: var(--yeds-color-neutral-400);
  --yeds-color-alphas-white-80: var(--yeds-color-alpha-white-80);
  --yeds-color-alphas-white-60: var(--yeds-color-alpha-white-60);
  --yeds-color-alphas-white-30: var(--yeds-color-alpha-white-30);
  --yeds-color-alphas-error-20: var(--yeds-color-alpha-red-20);
  --yeds-color-alphas-info-20: var(--yeds-color-alpha-blue-20);
  --yeds-color-alphas-warning-20: var(--yeds-color-alpha-yellow-20);
  --yeds-color-alphas-white-90: var(--yeds-color-alpha-white-90);
  --yeds-color-alphas-green-10: var(--yeds-color-alpha-green-10);
  --yeds-color-alphas-primary-20: var(--yeds-color-alpha-primary-20);
  --yeds-color-alphas-warning-10: var(--yeds-color-alpha-yellow-10);
  --yeds-color-alphas-white-40: var(--yeds-color-alpha-white-40);
  --yeds-color-alphas-primary-10: var(--yeds-color-alpha-primary-10);
  --yeds-color-alphas-white-70: var(--yeds-color-alpha-white-70);
  --yeds-color-alphas-black-100: var(--yeds-color-alpha-black-100);
  --yeds-color-alphas-black-90: var(--yeds-color-alpha-black-90);
  --yeds-color-alphas-white-100: var(--yeds-color-alpha-white-100);
  --yeds-color-alphas-black-10: var(--yeds-color-alpha-black-10);
  --yeds-color-alphas-black-20: var(--yeds-color-alpha-black-20);
  --yeds-color-alphas-info-10: var(--yeds-color-alpha-blue-10);
  --yeds-color-alphas-white-20: var(--yeds-color-alpha-white-20);
  --yeds-color-alphas-black-40: var(--yeds-color-alpha-black-40);
  --yeds-color-alphas-black-60: var(--yeds-color-alpha-black-60);
  --yeds-color-alphas-black-70: var(--yeds-color-alpha-black-70);
  --yeds-color-alphas-black-30: var(--yeds-color-alpha-black-30);
  --yeds-color-alphas-error-10: var(--yeds-color-alpha-red-10);
  --yeds-color-alphas-black-80: var(--yeds-color-alpha-black-80);
  --yeds-color-alphas-white-0: var(--yeds-color-alpha-white-0);
  --yeds-color-alphas-green-20: var(--yeds-color-alpha-green-20);
  --yeds-color-alphas-black-50: var(--yeds-color-alpha-black-50);
  --yeds-color-alphas-black-0: var(--yeds-color-alpha-black-0);
  --yeds-color-alphas-white-50: var(--yeds-color-alpha-white-50);
  --yeds-color-alphas-white-10: var(--yeds-color-alpha-white-10);
}
[data-theme="dark"] {
  --yeds-color-background-neutral-200: var(--yeds-color-neutral-600);
  --yeds-color-background-ye-primary-25: var(--yeds-color-alpha-primary-10);
  --yeds-color-background-nav-header: var(--yeds-color-primary-800);
  --yeds-color-background-ye-primary-800: var(--yeds-color-primary-600);
  --yeds-color-background-error-25: var(--yeds-color-alpha-red-10);
  --yeds-color-background-notification-white: var(--yeds-color-neutral-900);
  --yeds-color-background-error-50: var(--yeds-color-alpha-red-20);
  --yeds-color-background-error: var(--yeds-color-red-600);
  --yeds-color-background-card: var(--yeds-color-neutral-800);
  --yeds-color-background-warning-50: var(--yeds-color-alpha-yellow-20);
  --yeds-color-background-neutral-300: var(--yeds-color-neutral-500);
  --yeds-color-background-neutral-100: var(--yeds-color-neutral-800);
  --yeds-color-background-warning-25: var(--yeds-color-alpha-yellow-10);
  --yeds-color-background-neutral-25: var(--yeds-color-neutral-950);
  --yeds-color-background-info-25: var(--yeds-color-alpha-blue-10);
  --yeds-color-background-info-50: var(--yeds-color-alpha-blue-20);
  --yeds-color-background-success-50: var(--yeds-color-alpha-green-20);
  --yeds-color-background-ye-primary-50: var(--yeds-color-alpha-primary-20);
  --yeds-color-background-accent-25: var(--yeds-color-accent-25);
  --yeds-color-background-neutral-400: var(--yeds-color-neutral-400);
  --yeds-color-background-accent-50: var(--yeds-color-accent-50);
  --yeds-color-background-menu: var(--yeds-color-neutral-800);
  --yeds-color-background-info: var(--yeds-color-blue-600);
  --yeds-color-background-black: var(--yeds-color-base-white);
  --yeds-color-background-primary-200: var(--yeds-color-primary-700);
  --yeds-color-background-primary-600: var(--yeds-color-primary-600);
  --yeds-color-background-background-disabled: var(--yeds-color-neutral-800);
  --yeds-color-background-body: var(--yeds-color-neutral-900);
  --yeds-color-background-neutral-800: var(--yeds-color-neutral-600);
  --yeds-color-background-warning: var(--yeds-color-yellow-600);
  --yeds-color-background-primary-50: var(--yeds-color-alpha-primary-10);
  --yeds-color-background-success: var(--yeds-color-green-600);
  --yeds-color-background-primary-25: var(--yeds-color-primary-950);
  --yeds-color-background-primary-400: var(--yeds-color-primary-400);
  --yeds-color-background-success-25: var(--yeds-color-alpha-green-10);
  --yeds-color-background-white: var(--yeds-color-neutral-950);
  --yeds-color-background-neutral-50: var(--yeds-color-neutral-900);
  --yeds-color-background-oncolor: var(--yeds-color-base-white);
  --yeds-color-background-accent: var(--yeds-color-accent-600);
  --yeds-color-text-warning: var(--yeds-color-accent-400);
  --yeds-color-text-success: var(--yeds-color-green-400);
  --yeds-color-text-secondary-paragraph: var(--yeds-color-neutral-200);
  --yeds-color-text-tertiary: var(--yeds-color-alpha-white-40);
  --yeds-color-text-info: var(--yeds-color-blue-400);
  --yeds-color-text-default-disabled: var(--yeds-color-neutral-400);
  --yeds-color-text-primary-paragraph: var(--yeds-color-neutral-100);
  --yeds-color-text-secondary: var(--yeds-color-alpha-white-60);
  --yeds-color-text-default: var(--yeds-color-base-white);
  --yeds-color-text-oncolor: var(--yeds-color-base-white);
  --yeds-color-text-display: var(--yeds-color-neutral-50);
  --yeds-color-text-error: var(--yeds-color-red-400);
  --yeds-color-text-primary: var(--yeds-color-primary-400);
  --yeds-color-border-background-neutral: var(--yeds-color-neutral-600);
  --yeds-color-border-neutral-tertiary: var(--yeds-color-neutral-800);
  --yeds-color-border-neutral-secondary: var(--yeds-color-neutral-700);
  --yeds-color-border-black: var(--yeds-color-base-white);
  --yeds-color-border-primary: var(--yeds-color-primary-600);
  --yeds-color-border-error-light: var(--yeds-color-red-200);
  --yeds-color-border-neutral-primary: var(--yeds-color-neutral-500);
  --yeds-color-border-error: var(--yeds-color-red-500);
  --yeds-color-border-warning-light: var(--yeds-color-yellow-200);
  --yeds-color-border-warning: var(--yeds-color-yellow-500);
  --yeds-color-border-background-white: var(--yeds-color-neutral-600);
  --yeds-color-border-info: var(--yeds-color-blue-500);
  --yeds-color-border-success-light: var(--yeds-color-green-200);
  --yeds-color-border-primary-light: var(--yeds-color-primary-200);
  --yeds-color-border-info-light: var(--yeds-color-blue-200);
  --yeds-color-border-success: var(--yeds-color-green-500);
  --yeds-color-border-oncolor-transparent-30: var(--yeds-color-alpha-white-30);
  --yeds-color-border-transparent-10: var(--yeds-color-alpha-black-10);
  --yeds-color-border-disabled: var(--yeds-color-neutral-400);
  --yeds-color-border-white-40: var(--yeds-color-alpha-black-40);
  --yeds-color-border-white: var(--yeds-color-base-black);
  --yeds-color-icon-oncolor: var(--yeds-color-base-white);
  --yeds-color-icon-default: var(--yeds-color-base-white);
  --yeds-color-icon-default-500: var(--yeds-color-neutral-200);
  --yeds-color-icon-default-400: var(--yeds-color-neutral-500);
  --yeds-color-icon-primary: var(--yeds-color-primary-400);
  --yeds-color-icon-primary-light: var(--yeds-color-primary-50);
  --yeds-color-icon-primary-400: var(--yeds-color-primary-200);
  --yeds-color-icon-neutral: var(--yeds-color-neutral-400);
  --yeds-color-icon-neutral-light: var(--yeds-color-neutral-950);
  --yeds-color-icon-success: var(--yeds-color-green-400);
  --yeds-color-icon-success-light: var(--yeds-color-green-50);
  --yeds-color-icon-info: var(--yeds-color-blue-400);
  --yeds-color-icon-info-light: var(--yeds-color-blue-50);
  --yeds-color-icon-warning: var(--yeds-color-yellow-400);
  --yeds-color-icon-warning-light: var(--yeds-color-yellow-50);
  --yeds-color-icon-error: var(--yeds-color-red-400);
  --yeds-color-icon-error-light: var(--yeds-color-red-50);
  --yeds-color-icon-default-disabled: var(--yeds-color-neutral-400);
  --yeds-color-alphas-white-80: var(--yeds-color-alpha-black-80);
  --yeds-color-alphas-white-60: var(--yeds-color-alpha-black-60);
  --yeds-color-alphas-white-30: var(--yeds-color-alpha-black-30);
  --yeds-color-alphas-error-20: var(--yeds-color-alpha-red-20);
  --yeds-color-alphas-info-20: var(--yeds-color-alpha-blue-20);
  --yeds-color-alphas-warning-20: var(--yeds-color-alpha-yellow-20);
  --yeds-color-alphas-white-90: var(--yeds-color-alpha-black-90);
  --yeds-color-alphas-green-10: var(--yeds-color-alpha-green-10);
  --yeds-color-alphas-primary-20: var(--yeds-color-alpha-primary-20);
  --yeds-color-alphas-warning-10: var(--yeds-color-alpha-yellow-10);
  --yeds-color-alphas-white-40: var(--yeds-color-alpha-black-40);
  --yeds-color-alphas-primary-10: var(--yeds-color-alpha-primary-10);
  --yeds-color-alphas-white-70: var(--yeds-color-alpha-black-70);
  --yeds-color-alphas-black-100: var(--yeds-color-alpha-white-100);
  --yeds-color-alphas-black-90: var(--yeds-color-alpha-white-90);
  --yeds-color-alphas-white-100: var(--yeds-color-alpha-black-100);
  --yeds-color-alphas-black-10: var(--yeds-color-alpha-white-10);
  --yeds-color-alphas-black-20: var(--yeds-color-alpha-white-20);
  --yeds-color-alphas-info-10: var(--yeds-color-alpha-blue-10);
  --yeds-color-alphas-white-20: var(--yeds-color-alpha-black-20);
  --yeds-color-alphas-black-40: var(--yeds-color-alpha-white-40);
  --yeds-color-alphas-black-60: var(--yeds-color-alpha-white-50);
  --yeds-color-alphas-black-70: var(--yeds-color-alpha-white-70);
  --yeds-color-alphas-black-30: var(--yeds-color-alpha-white-30);
  --yeds-color-alphas-error-10: var(--yeds-color-alpha-red-10);
  --yeds-color-alphas-black-80: var(--yeds-color-alpha-white-80);
  --yeds-color-alphas-white-0: var(--yeds-color-alpha-black-0);
  --yeds-color-alphas-green-20: var(--yeds-color-alpha-green-20);
  --yeds-color-alphas-black-50: var(--yeds-color-alpha-white-50);
  --yeds-color-alphas-black-0: var(--yeds-color-alpha-white-0);
  --yeds-color-alphas-white-50: var(--yeds-color-alpha-black-50);
  --yeds-color-alphas-white-10: var(--yeds-color-alpha-black-10);
}
[data-theme="light"] {
  --yeds-table-table-cell-border: var(--yeds-color-neutral-300);
  --yeds-table-table-text-head: var(--yeds-color-neutral-700);
  --yeds-table-table-background-hover-selected: var(--yeds-color-neutral-50);
  --yeds-table-table-background-header: var(--yeds-color-neutral-100);
  --yeds-table-table-background-row: var(--yeds-color-neutral-50);
  --yeds-table-table-background-row-selected-hovered: var(
    --yeds-color-primary-50
  );
  --yeds-table-table-boarder-row-selected-hovered: var(
    --yeds-color-neutral-100
  );
  --yeds-table-table-background-row-select: var(--yeds-color-primary-50);
  --yeds-table-table-background-row-hovered: var(--yeds-color-neutral-100);
  --yeds-table-table-background-row-alt: var(--yeds-color-neutral-50);
  --yeds-button-background-primary-hovered: var(--yeds-color-primary-700);
  --yeds-button-background-primary-default: var(--yeds-color-primary-600);
  --yeds-button-icon-transparent-selected-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-icon-transparent-hovered-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-label-transparent-pressed-on-color: var(
    --yeds-color-primary-300
  );
  --yeds-button-background-black-focused: var(--yeds-color-neutral-950);
  --yeds-button-label-transparent-hovered-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-background-disabled-on-color: var(--yeds-color-alpha-white-20);
  --yeds-button-background-transparent-selected: var(
    --yeds-color-alpha-white-30
  );
  --yeds-button-background-primary-focused: var(--yeds-color-primary-600);
  --yeds-button-background-transparent-pressed: var(
    --yeds-color-alpha-white-40
  );
  --yeds-button-background-danger-secondary-focused: var(--yeds-color-red-50);
  --yeds-button-background-danger-secondary-hovered: var(--yeds-color-red-100);
  --yeds-button-background-danger-primary-hovered: var(--yeds-color-red-700);
  --yeds-button-background-danger-secondary-default: var(--yeds-color-red-50);
  --yeds-button-label-transparent-selected-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-background-black-selected: var(--yeds-color-neutral-700);
  --yeds-button-background-neutral-pressed: var(--yeds-color-neutral-200);
  --yeds-button-background-oncolor-hovered: var(--yeds-color-alpha-white-80);
  --yeds-button-label-danger-primary-pressed-oncolor: var(--yeds-color-red-400);
  --yeds-button-background-black-pressed: var(--yeds-color-neutral-600);
  --yeds-button-background-danger-primary-focused: var(--yeds-color-red-600);
  --yeds-button-background-neutral-focused: var(--yeds-color-neutral-100);
  --yeds-button-background-danger-primary-pressed: var(--yeds-color-red-900);
  --yeds-button-background-oncolor-focused: var(--yeds-color-alpha-white-100);
  --yeds-button-background-oncolor-pressed: var(--yeds-color-alpha-white-60);
  --yeds-button-background-oncolor-default: var(--yeds-color-base-white);
  --yeds-button-label-danger-primary-hovered-oncolor: var(--yeds-color-red-300);
  --yeds-button-background-black-hovered: var(--yeds-color-neutral-800);
  --yeds-button-background-primary-pressed: var(--yeds-color-primary-900);
  --yeds-button-background-transparent-focused: var(--yeds-color-alpha-white-0);
  --yeds-button-background-danger-primary-default: var(--yeds-color-red-600);
  --yeds-button-background-neutral-selected: var(--yeds-color-neutral-200);
  --yeds-button-icon-transparent-pressed-on-color: var(
    --yeds-color-primary-300
  );
  --yeds-button-background-danger-secondary-pressed: var(--yeds-color-red-200);
  --yeds-button-background-danger-primary-selected: var(--yeds-color-red-800);
  --yeds-button-background-transparent-hovered: var(
    --yeds-color-alpha-white-20
  );
  --yeds-button-background-transparent-default: var(--yeds-color-alpha-white-0);
  --yeds-button-background-neutral-default: var(--yeds-color-neutral-100);
  --yeds-button-background-neutral-hovered: var(--yeds-color-neutral-100);
  --yeds-button-background-danger-secondary-selected: var(--yeds-color-red-50);
  --yeds-button-background-primary-selected: var(--yeds-color-primary-800);
  --yeds-button-background-oncolor-selected: var(--yeds-color-alpha-white-70);
  --yeds-button-label-danger-primary-default-oncolor: var(--yeds-color-red-200);
  --yeds-button-background-black-default: var(--yeds-color-neutral-950);
  --yeds-link-link-neutral: var(--yeds-color-neutral-700);
  --yeds-link-link-icon-primary-pressed: var(--yeds-color-primary-300);
  --yeds-link-link-icon-primary-hovered: var(--yeds-color-primary-400);
  --yeds-link-link-icon-primary-visited: var(--yeds-color-primary-800);
  --yeds-link-link-primary-visited: var(--yeds-color-primary-800);
  --yeds-link-link-icon-oncolor-disabled: var(--yeds-color-alpha-white-30);
  --yeds-link-link-icon-oncolor-focused: var(--yeds-color-base-white);
  --yeds-link-primary-focused: var(--yeds-color-primary-600);
  --yeds-link-link-oncolor-hovered: var(--yeds-color-alpha-white-80);
  --yeds-link-link-oncolor-visited: var(--yeds-color-alpha-white-90);
  --yeds-link-link-oncolor-pressed: var(--yeds-color-alpha-white-60);
  --yeds-link-link-danger: var(--yeds-color-red-600);
  --yeds-link-link-oncolor: var(--yeds-color-base-white);
  --yeds-link-primary-hovered: var(--yeds-color-primary-700);
  --yeds-link-link-icon-danger-visited: var(--yeds-color-red-800);
  --yeds-link-link-oncolor-focused: var(--yeds-color-base-white);
  --yeds-link-link-icon-danger-pressed: var(--yeds-color-red-900);
  --yeds-link-link-neutral-visited: var(--yeds-color-neutral-600);
  --yeds-link-link-danger-pressed: var(--yeds-color-red-900);
  --yeds-link-link-danger-focused: var(--yeds-color-red-600);
  --yeds-link-primary-pressed: var(--yeds-color-primary-800);
  --yeds-link-link-icon-oncolor-visited: var(--yeds-color-alpha-white-90);
  --yeds-link-link-icon-danger-hovered: var(--yeds-color-red-700);
  --yeds-link-link-icon-neutral-focused: var(--yeds-color-neutral-700);
  --yeds-link-link-danger-visited: var(--yeds-color-red-800);
  --yeds-link-link-neutral-focused: var(--yeds-color-neutral-700);
  --yeds-link-link-neutral-pressed: var(--yeds-color-neutral-400);
  --yeds-link-link-danger-hovered: var(--yeds-color-red-700);
  --yeds-link-link-icon-oncolor-pressed: var(--yeds-color-alpha-white-60);
  --yeds-link-link-icon-neutral-visited: var(--yeds-color-neutral-600);
  --yeds-link-link-icon-neutral-hovered: var(--yeds-color-neutral-500);
  --yeds-link-link-icon-primary-focused: var(--yeds-color-primary-600);
  --yeds-link-link-oncolor-disabled: var(--yeds-color-alpha-white-30);
  --yeds-link-link-icon-danger-focused: var(--yeds-color-red-600);
  --yeds-link-link-icon-oncolor-hovered: var(--yeds-color-alpha-white-80);
  --yeds-link-link-neutral-hovered: var(--yeds-color-neutral-500);
  --yeds-link-primary: var(--yeds-color-primary-600);
  --yeds-tag-icon-success: var(--yeds-color-green-800);
  --yeds-tag-icon-neutral: var(--yeds-color-neutral-800);
  --yeds-tag-border-error-light: var(--yeds-color-red-200);
  --yeds-tag-border-error: var(--yeds-color-red-700);
  --yeds-tag-border-success: var(--yeds-color-green-700);
  --yeds-tag-border-warning-light: var(--yeds-color-yellow-200);
  --yeds-tag-border-success-light: var(--yeds-color-green-200);
  --yeds-tag-border-info-light: var(--yeds-color-blue-200);
  --yeds-tag-icon-info: var(--yeds-color-blue-800);
  --yeds-tag-border-on-color: var(--yeds-color-alpha-white-60);
  --yeds-tag-background-success-light: var(--yeds-color-green-50);
  --yeds-tag-border-neutral-light: var(--yeds-color-neutral-50);
  --yeds-tag-background-on-color: var(--yeds-color-alpha-white-20);
  --yeds-tag-background-error: var(--yeds-color-red-700);
  --yeds-tag-text-warning: var(--yeds-color-yellow-800);
  --yeds-tag-border-info: var(--yeds-color-blue-700);
  --yeds-tag-background-neutral-light: var(--yeds-color-neutral-50);
  --yeds-tag-background-warning: var(--yeds-color-yellow-700);
  --yeds-tag-text-info: var(--yeds-color-blue-800);
  --yeds-tag-icon-error: var(--yeds-color-red-800);
  --yeds-tag-background-info-light: var(--yeds-color-blue-50);
  --yeds-tag-text-error: var(--yeds-color-red-800);
  --yeds-tag-background-neutral: var(--yeds-color-neutral-600);
  --yeds-tag-background-info: var(--yeds-color-blue-700);
  --yeds-tag-background-error-light: var(--yeds-color-red-50);
  --yeds-tag-background-success: var(--yeds-color-green-700);
  --yeds-tag-text-success: var(--yeds-color-green-800);
  --yeds-tag-background-warning-light: var(--yeds-color-yellow-50);
  --yeds-tag-text-neutral: var(--yeds-color-neutral-800);
  --yeds-tag-icon-warning: var(--yeds-color-yellow-800);
  --yeds-tag-border-warning: var(--yeds-color-yellow-700);
  --yeds-tag-tag-dot: var(--yeds-color-alpha-white-60);
  --yeds-tag-border-neutral: var(--yeds-color-neutral-600);
  --yeds-form-datecell-background-100: var(--yeds-color-primary-100);
  --yeds-form-datecell-background-200: var(--yeds-color-primary-200);
  --yeds-form-datecell-background-300: var(--yeds-color-primary-300);
  --yeds-form-option-background-pressed: var(--yeds-color-neutral-200);
  --yeds-form-datecell-background-hovered: var(--yeds-color-primary-700);
  --yeds-form-datecell-today-background-default: var(
    --yeds-color-alpha-white-0
  );
  --yeds-form-datecell-today-background-pressed: var(--yeds-color-neutral-300);
  --yeds-form-datecell-background-default: var(--yeds-color-primary-600);
  --yeds-form-field-background-darker: var(--yeds-color-neutral-100);
  --yeds-form-datecell-background-disabled: var(--yeds-color-base-white);
  --yeds-form-datecell-background-600: var(--yeds-color-primary-600);
  --yeds-form-datecell-today-background-focused: var(
    --yeds-color-alpha-white-0
  );
  --yeds-form-option-background-hover: var(--yeds-color-neutral-100);
  --yeds-form-field-border-default: var(--yeds-color-neutral-400);
  --yeds-form-field-background-lighter: var(--yeds-color-neutral-25);
  --yeds-form-datecell-today-background-hovered: var(--yeds-color-neutral-200);
  --yeds-form-field-border-hovered: var(--yeds-color-neutral-700);
  --yeds-form-field-background-pressed: var(--yeds-color-neutral-100);
  --yeds-form-datecell-background-focused: var(--yeds-color-primary-600);
  --yeds-form-textarea-scrollbar-bar: var(--yeds-color-neutral-300);
  --yeds-form-datecell-background-pressed: var(--yeds-color-primary-900);
  --yeds-form-field-border-pressed: var(--yeds-color-neutral-950);
  --yeds-controls-primary-readonly: var(--yeds-color-alpha-white-0);
  --yeds-controls-neutral-pressed: var(--yeds-color-neutral-500);
  --yeds-controls-neutral-hovered: var(--yeds-color-neutral-600);
  --yeds-controls-neutral-checked: var(--yeds-color-neutral-950);
  --yeds-controls-primary-focused: var(--yeds-color-primary-600);
  --yeds-controls-primary-pressed: var(--yeds-color-primary-900);
  --yeds-controls-boarder-disabled: var(--yeds-color-neutral-400);
  --yeds-controls-border: var(--yeds-color-neutral-400);
  --yeds-controls-icon-disabled: var(--yeds-color-base-white);
  --yeds-controls-ripple-effect: var(--yeds-color-neutral-100);
  --yeds-controls-disabled: var(--yeds-color-neutral-300);
  --yeds-controls-primary-hovered: var(--yeds-color-primary-800);
  --yeds-controls-primary-checked: var(--yeds-color-primary-600);
  --yeds-controls-control-pressed: var(--yeds-color-neutral-300);
  --yeds-controls-neutral-focused: var(--yeds-color-neutral-950);
  --yeds-controls-primary: var(--yeds-color-alpha-white-0);
  --yeds-stepper-button-background: var(--yeds-color-base-white);
  --yeds-stepper-button-upcomming-hovered: var(--yeds-color-neutral-400);
  --yeds-stepper-button-current-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-line-completed-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-button-current: var(--yeds-color-primary-600);
  --yeds-stepper-line-upcomming: var(--yeds-color-neutral-300);
  --yeds-stepper-line-current: var(--yeds-color-neutral-300);
  --yeds-stepper-line-completed: var(--yeds-color-primary-600);
  --yeds-stepper-line-upcomming-hovered: var(--yeds-color-neutral-400);
  --yeds-stepper-button-completed-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-button-upcomming: var(--yeds-color-neutral-300);
  --yeds-stepper-button-completed: var(--yeds-color-primary-600);
  --yeds-tooltip-tooltip-text-paragraph-dark: var(--yeds-color-neutral-100);
  --yeds-tooltip-text-heading-dark: var(--yeds-color-neutral-50);
  --yeds-tooltip-background-dark: var(--yeds-color-neutral-800);
  --yeds-tooltip-background-light: var(--yeds-color-base-white);
  --yeds-table-table-cell-border-inverse: var(--yeds-color-border-black);
  --yeds-table-table-text-body: var(--yeds-color-text-default);
  --yeds-table-table-background-disabled: var(
    --yeds-color-background-background-disabled
  );
  --yeds-form-field-text-helper: var(--yeds-color-text-secondary-paragraph);
  --yeds-form-field-text-readonly: var(--yeds-color-text-default);
  --yeds-form-field-text-filled: var(--yeds-color-text-default);
  --yeds-form-field-text-focused: var(--yeds-color-text-secondary-paragraph);
  --yeds-form-field-text-pressed: var(--yeds-color-text-secondary-paragraph);
  --yeds-form-field-text-placeholder: var(
    --yeds-color-text-secondary-paragraph
  );
  --yeds-form-field-text-label: var(--yeds-color-text-default);
  --yeds-form-field-border-error: var(--yeds-color-border-error);
  --yeds-form-field-text-hovered: var(--yeds-color-text-default);
  --yeds-form-text-form-title-2: var(--yeds-color-text-default);
  --yeds-form-text-form-paragraph: var(--yeds-color-text-secondary-paragraph);
  --yeds-form-field-background-default: var(--yeds-color-background-card);
  --yeds-controls-icon-pressed: var(--yeds-color-icon-oncolor);
  --yeds-controls-icon-hovered: var(--yeds-color-icon-oncolor);
  --yeds-stepper-text-primary: var(--yeds-color-text-default);
  --yeds-stepper-text-tertiary: var(--yeds-color-text-secondary-paragraph);
  --yeds-stepper-text-secondary: var(--yeds-color-text-primary-paragraph);
  --yeds-tooltip-text-paragraph-light: var(--yeds-color-text-primary-paragraph);
  --yeds-tooltip-text-heading-light: var(--yeds-color-text-display);
}
[data-theme="dark"] {
  --yeds-table-table-cell-border: var(--yeds-color-neutral-600);
  --yeds-table-table-text-head: var(--yeds-color-neutral-300);
  --yeds-table-table-background-hover-selected: var(--yeds-color-neutral-900);
  --yeds-table-table-background-header: var(--yeds-color-neutral-900);
  --yeds-table-table-background-row: var(--yeds-color-neutral-900);
  --yeds-table-table-background-row-selected-hovered: var(
    --yeds-color-primary-50
  );
  --yeds-table-table-boarder-row-selected-hovered: var(
    --yeds-color-neutral-100
  );
  --yeds-table-table-background-row-select: var(--yeds-color-primary-50);
  --yeds-table-table-background-row-hovered: var(--yeds-color-neutral-100);
  --yeds-table-table-background-row-alt: var(--yeds-color-base-white);
  --yeds-button-background-primary-hovered: var(--yeds-color-primary-700);
  --yeds-button-background-primary-default: var(--yeds-color-primary-600);
  --yeds-button-icon-transparent-selected-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-icon-transparent-hovered-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-label-transparent-pressed-on-color: var(
    --yeds-color-primary-300
  );
  --yeds-button-background-black-focused: var(--yeds-color-neutral-950);
  --yeds-button-label-transparent-hovered-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-background-disabled-on-color: var(--yeds-color-alpha-black-20);
  --yeds-button-background-transparent-selected: var(
    --yeds-color-alpha-white-30
  );
  --yeds-button-background-primary-focused: var(--yeds-color-primary-600);
  --yeds-button-background-transparent-pressed: var(
    --yeds-color-alpha-black-40
  );
  --yeds-button-background-danger-secondary-focused: var(--yeds-color-red-50);
  --yeds-button-background-danger-secondary-hovered: var(--yeds-color-red-100);
  --yeds-button-background-danger-primary-hovered: var(--yeds-color-red-700);
  --yeds-button-background-danger-secondary-default: var(--yeds-color-red-50);
  --yeds-button-label-transparent-selected-on-color: var(
    --yeds-color-primary-400
  );
  --yeds-button-background-black-selected: var(--yeds-color-neutral-700);
  --yeds-button-background-neutral-pressed: var(--yeds-color-neutral-600);
  --yeds-button-background-oncolor-hovered: var(--yeds-color-alpha-black-80);
  --yeds-button-label-danger-primary-pressed-oncolor: var(--yeds-color-red-400);
  --yeds-button-background-black-pressed: var(--yeds-color-neutral-600);
  --yeds-button-background-danger-primary-focused: var(--yeds-color-red-600);
  --yeds-button-background-neutral-focused: var(--yeds-color-neutral-800);
  --yeds-button-background-danger-primary-pressed: var(--yeds-color-red-900);
  --yeds-button-background-oncolor-focused: var(--yeds-color-alpha-black-100);
  --yeds-button-background-oncolor-pressed: var(--yeds-color-alpha-black-60);
  --yeds-button-background-oncolor-default: var(--yeds-color-base-black);
  --yeds-button-label-danger-primary-hovered-oncolor: var(--yeds-color-red-300);
  --yeds-button-background-black-hovered: var(--yeds-color-neutral-800);
  --yeds-button-background-primary-pressed: var(--yeds-color-primary-900);
  --yeds-button-background-transparent-focused: var(--yeds-color-alpha-black-0);
  --yeds-button-background-danger-primary-default: var(--yeds-color-red-600);
  --yeds-button-background-neutral-selected: var(--yeds-color-neutral-700);
  --yeds-button-icon-transparent-pressed-on-color: var(
    --yeds-color-primary-300
  );
  --yeds-button-background-danger-secondary-pressed: var(--yeds-color-red-200);
  --yeds-button-background-danger-primary-selected: var(--yeds-color-red-800);
  --yeds-button-background-transparent-hovered: var(
    --yeds-color-alpha-black-20
  );
  --yeds-button-background-transparent-default: var(--yeds-color-alpha-black-0);
  --yeds-button-background-neutral-default: var(--yeds-color-neutral-800);
  --yeds-button-background-neutral-hovered: var(--yeds-color-neutral-700);
  --yeds-button-background-danger-secondary-selected: var(--yeds-color-red-50);
  --yeds-button-background-primary-selected: var(--yeds-color-primary-800);
  --yeds-button-background-oncolor-selected: var(--yeds-color-alpha-black-70);
  --yeds-button-label-danger-primary-default-oncolor: var(--yeds-color-red-200);
  --yeds-button-background-black-default: var(--yeds-color-neutral-950);
  --yeds-link-link-neutral: var(--yeds-color-neutral-700);
  --yeds-link-link-icon-primary-pressed: var(--yeds-color-primary-300);
  --yeds-link-link-icon-primary-hovered: var(--yeds-color-primary-400);
  --yeds-link-link-icon-primary-visited: var(--yeds-color-primary-800);
  --yeds-link-link-primary-visited: var(--yeds-color-primary-800);
  --yeds-link-link-icon-oncolor-disabled: var(--yeds-color-alpha-white-30);
  --yeds-link-link-icon-oncolor-focused: var(--yeds-color-base-black);
  --yeds-link-primary-focused: var(--yeds-color-primary-600);
  --yeds-link-link-oncolor-hovered: var(--yeds-color-alpha-black-80);
  --yeds-link-link-oncolor-visited: var(--yeds-color-alpha-black-90);
  --yeds-link-link-oncolor-pressed: var(--yeds-color-alpha-black-60);
  --yeds-link-link-danger: var(--yeds-color-red-600);
  --yeds-link-link-oncolor: var(--yeds-color-base-black);
  --yeds-link-primary-hovered: var(--yeds-color-primary-700);
  --yeds-link-link-icon-danger-visited: var(--yeds-color-red-800);
  --yeds-link-link-oncolor-focused: var(--yeds-color-base-black);
  --yeds-link-link-icon-danger-pressed: var(--yeds-color-red-900);
  --yeds-link-link-neutral-visited: var(--yeds-color-neutral-600);
  --yeds-link-link-danger-pressed: var(--yeds-color-red-900);
  --yeds-link-link-danger-focused: var(--yeds-color-red-600);
  --yeds-link-primary-pressed: var(--yeds-color-primary-800);
  --yeds-link-link-icon-oncolor-visited: var(--yeds-color-alpha-black-90);
  --yeds-link-link-icon-danger-hovered: var(--yeds-color-red-700);
  --yeds-link-link-icon-neutral-focused: var(--yeds-color-neutral-700);
  --yeds-link-link-danger-visited: var(--yeds-color-red-800);
  --yeds-link-link-neutral-focused: var(--yeds-color-neutral-700);
  --yeds-link-link-neutral-pressed: var(--yeds-color-neutral-400);
  --yeds-link-link-danger-hovered: var(--yeds-color-red-700);
  --yeds-link-link-icon-oncolor-pressed: var(--yeds-color-alpha-black-60);
  --yeds-link-link-icon-neutral-visited: var(--yeds-color-neutral-600);
  --yeds-link-link-icon-neutral-hovered: var(--yeds-color-neutral-500);
  --yeds-link-link-icon-primary-focused: var(--yeds-color-primary-600);
  --yeds-link-link-oncolor-disabled: var(--yeds-color-alpha-black-30);
  --yeds-link-link-icon-danger-focused: var(--yeds-color-red-600);
  --yeds-link-link-icon-oncolor-hovered: var(--yeds-color-alpha-black-80);
  --yeds-link-link-neutral-hovered: var(--yeds-color-neutral-500);
  --yeds-link-primary: var(--yeds-color-primary-600);
  --yeds-tag-icon-success: var(--yeds-color-green-800);
  --yeds-tag-icon-neutral: var(--yeds-color-neutral-100);
  --yeds-tag-border-error-light: var(--yeds-color-red-200);
  --yeds-tag-border-error: var(--yeds-color-red-700);
  --yeds-tag-border-success: var(--yeds-color-primary-700);
  --yeds-tag-border-warning-light: var(--yeds-color-yellow-200);
  --yeds-tag-border-success-light: var(--yeds-color-green-200);
  --yeds-tag-border-info-light: var(--yeds-color-blue-200);
  --yeds-tag-icon-info: var(--yeds-color-blue-800);
  --yeds-tag-border-on-color: var(--yeds-color-alpha-white-60);
  --yeds-tag-background-success-light: var(--yeds-color-green-50);
  --yeds-tag-border-neutral-light: var(--yeds-color-neutral-50);
  --yeds-tag-background-on-color: var(--yeds-color-alpha-white-20);
  --yeds-tag-background-error: var(--yeds-color-red-700);
  --yeds-tag-text-warning: var(--yeds-color-yellow-800);
  --yeds-tag-border-info: var(--yeds-color-blue-700);
  --yeds-tag-background-neutral-light: var(--yeds-color-neutral-800);
  --yeds-tag-background-warning: var(--yeds-color-yellow-700);
  --yeds-tag-text-info: var(--yeds-color-blue-800);
  --yeds-tag-icon-error: var(--yeds-color-red-800);
  --yeds-tag-background-info-light: var(--yeds-color-blue-50);
  --yeds-tag-text-error: var(--yeds-color-red-800);
  --yeds-tag-background-neutral: var(--yeds-color-neutral-200);
  --yeds-tag-background-info: var(--yeds-color-blue-700);
  --yeds-tag-background-error-light: var(--yeds-color-red-50);
  --yeds-tag-background-success: var(--yeds-color-green-300);
  --yeds-tag-text-success: var(--yeds-color-green-800);
  --yeds-tag-background-warning-light: var(--yeds-color-yellow-50);
  --yeds-tag-text-neutral: var(--yeds-color-neutral-100);
  --yeds-tag-icon-warning: var(--yeds-color-yellow-800);
  --yeds-tag-border-warning: var(--yeds-color-yellow-700);
  --yeds-tag-tag-dot: var(--yeds-color-alpha-white-60);
  --yeds-tag-border-neutral: var(--yeds-color-neutral-200);
  --yeds-form-field-text-helper: var(--yeds-color-neutral-200);
  --yeds-form-field-text-readonly: var(--yeds-color-base-white);
  --yeds-form-field-text-filled: var(--yeds-color-base-white);
  --yeds-form-field-text-focused: var(--yeds-color-neutral-100);
  --yeds-form-datecell-background-100: var(--yeds-color-primary-300);
  --yeds-form-datecell-background-200: var(--yeds-color-primary-400);
  --yeds-form-datecell-background-300: var(--yeds-color-primary-300);
  --yeds-form-option-background-pressed: var(--yeds-color-neutral-700);
  --yeds-form-datecell-background-hovered: var(--yeds-color-primary-700);
  --yeds-form-field-text-placeholder: var(--yeds-color-neutral-200);
  --yeds-form-datecell-today-background-default: var(
    --yeds-color-alpha-black-0
  );
  --yeds-form-datecell-today-background-pressed: var(--yeds-color-neutral-600);
  --yeds-form-datecell-background-default: var(--yeds-color-primary-600);
  --yeds-form-field-background-darker: var(--yeds-color-neutral-100);
  --yeds-form-datecell-background-disabled: var(--yeds-color-base-white);
  --yeds-form-field-text-label: var(--yeds-color-base-white);
  --yeds-form-datecell-background-600: var(--yeds-color-primary-600);
  --yeds-form-field-text-hovered: var(--yeds-color-base-white);
  --yeds-form-datecell-today-background-focused: var(
    --yeds-color-alpha-black-0
  );
  --yeds-form-text-form-title-2: var(--yeds-color-base-white);
  --yeds-form-option-background-hover: var(--yeds-color-neutral-100);
  --yeds-form-field-border-default: var(--yeds-color-neutral-500);
  --yeds-form-field-background-lighter: var(--yeds-color-neutral-600);
  --yeds-form-datecell-today-background-hovered: var(--yeds-color-neutral-600);
  --yeds-form-field-border-hovered: var(--yeds-color-neutral-200);
  --yeds-form-field-background-pressed: var(--yeds-color-neutral-600);
  --yeds-form-datecell-background-focused: var(--yeds-color-primary-600);
  --yeds-form-textarea-scrollbar-bar: var(--yeds-color-neutral-600);
  --yeds-form-text-form-paragraph: var(--yeds-color-neutral-200);
  --yeds-form-field-background-default: var(--yeds-color-neutral-800);
  --yeds-form-datecell-background-pressed: var(--yeds-color-primary-900);
  --yeds-form-field-border-pressed: var(--yeds-color-neutral-25);
  --yeds-controls-primary-readonly: var(--yeds-color-alpha-black-0);
  --yeds-controls-neutral-pressed: var(--yeds-color-neutral-400);
  --yeds-controls-neutral-hovered: var(--yeds-color-neutral-400);
  --yeds-controls-neutral-checked: var(--yeds-color-neutral-600);
  --yeds-controls-primary-focused: var(--yeds-color-primary-600);
  --yeds-controls-primary-pressed: var(--yeds-color-primary-900);
  --yeds-controls-boarder-disabled: var(--yeds-color-alpha-black-30);
  --yeds-controls-border: var(--yeds-color-neutral-200);
  --yeds-controls-icon-disabled: var(--yeds-color-neutral-400);
  --yeds-controls-icon-pressed: var(--yeds-color-primary-800);
  --yeds-controls-ripple-effect: var(--yeds-color-neutral-100);
  --yeds-controls-disabled: var(--yeds-color-neutral-300);
  --yeds-controls-primary-hovered: var(--yeds-color-primary-800);
  --yeds-controls-primary-checked: var(--yeds-color-primary-600);
  --yeds-controls-control-pressed: var(--yeds-color-neutral-600);
  --yeds-controls-neutral-focused: var(--yeds-color-neutral-600);
  --yeds-controls-primary: var(--yeds-color-alpha-black-0);
  --yeds-stepper-text-primary: var(--yeds-color-neutral-100);
  --yeds-stepper-button-background: var(--yeds-color-base-white);
  --yeds-stepper-button-upcomming-hovered: var(--yeds-color-neutral-600);
  --yeds-stepper-button-current-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-text-tertiary: var(--yeds-color-neutral-300);
  --yeds-stepper-line-completed-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-button-current: var(--yeds-color-primary-600);
  --yeds-stepper-line-upcomming: var(--yeds-color-neutral-700);
  --yeds-stepper-line-current: var(--yeds-color-neutral-700);
  --yeds-stepper-text-secondary: var(--yeds-color-neutral-200);
  --yeds-stepper-line-completed: var(--yeds-color-primary-600);
  --yeds-stepper-line-upcomming-hovered: var(--yeds-color-neutral-700);
  --yeds-stepper-button-completed-hovered: var(--yeds-color-primary-700);
  --yeds-stepper-button-upcomming: var(--yeds-color-neutral-600);
  --yeds-stepper-button-completed: var(--yeds-color-primary-600);
  --yeds-tooltip-tooltip-text-paragraph-dark: var(--yeds-color-neutral-700);
  --yeds-tooltip-text-paragraph-light: var(--yeds-color-neutral-100);
  --yeds-tooltip-text-heading-dark: var(--yeds-color-neutral-800);
  --yeds-tooltip-background-dark: var(--yeds-color-base-white);
  --yeds-tooltip-text-heading-light: var(--yeds-color-neutral-50);
  --yeds-tooltip-background-light: var(--yeds-color-base-black);
  --yeds-table-table-cell-border-inverse: var(--yeds-color-border-black);
  --yeds-table-table-text-body: var(--yeds-color-text-default);
  --yeds-table-table-background-disabled: var(
    --yeds-color-background-background-disabled
  );
  --yeds-form-field-text-pressed: var(--yeds-form-text-form-paragraph);
  --yeds-form-field-border-error: var(--yeds-color-border-error);
  --yeds-controls-icon-hovered: var(--yeds-color-icon-primary);
}
:root {
  --sl-color-text-accent: #00987e;
  --sl-color-bg: #ffffff;
  --sl-color-bg-nav: #ffffff;
  --sl-color-bg-sidebar: #ffffff;
  --sl-color-bg-toc: #ffffff;
}
[data-theme="light"] {
  --sl-color-text-accent: #00987e;
  --sl-color-bg: #ffffff;
  --sl-color-bg-nav: #ffffff;
  --sl-color-bg-sidebar: #ffffff;
  --sl-color-bg-toc: #ffffff;
}
[data-theme="dark"] {
  --sl-color-text-accent: #00987e;
  --sl-color-bg: #17181c;
  --sl-color-bg-nav: #17181c;
  --sl-color-bg-sidebar: #17181c;
  --sl-color-bg-toc: #17181c;
}

.sl-markdown-content a:not(.header-anchor) {
  text-decoration: none;
}
.sl-markdown-content a:not(.header-anchor):hover {
  text-decoration: underline;
}

/* كلاس مخصص للصور داخل التوثيق للحفاظ على الحجم الخاص بلقطات الشاشة الخاصة بالهاتف */
.phone-screenshots {
  width: 310px !important;
  height: 620px !important;
  max-width: 100% !important;
  display: block;
  margin: 1.5rem auto !important;
  object-fit: contain;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--yeds-typography-font-family);
  font-weight: var(--yeds-typography-weight-regular, 400);
  line-height: 1.7;
}

.sl-markdown-content {
  font-family: var(--yeds-typography-font-family);
  font-weight: var(--yeds-typography-weight-regular, 400);
  line-height: 1.7;
  font-size: 1rem;
}

.sl-markdown-content p {
  line-height: 1.7;
  margin-bottom: 1.25rem;
}

.sl-markdown-content strong {
  font-weight: var(--yeds-typography-weight-bold, 700);
}


